# Ignore all DOCX files under data/
src/data/*.docx

# Ignore selected CSV files under output/
src/outputs/*.csv
src/outputs/*.png

# Ignore everything under Plots (inside outputs)
src/outputs/Plots/

# Ignore assets folder
assets/

# Optionally: Ignore compiled Python files and system files
__pycache__/
*.pyc
.DS_Store